.noresult_card{
    display: flex;
    flex-direction: column;
    width: 350px;
    font-size: 15px;
    margin: 1rem;
    line-height: 24px;
    color: rgb(80, 88, 99);
    padding: 10px 24px;
    border-radius: 3px;
    border: 1px solid rgb(222, 224, 227);
    box-shadow: rgb(196 199 204) 0px 0px 2px;
    background-color: rgb(255, 255, 255);
}