/*    NAVIGATION STYLE    */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;
  margin: 0;
  height: 50px;
}

.nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  z-index: 10;
}
.nav-brand a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
